/* CSS Index.html */

*,
html {
    margin: 0;
    padding: 0;
}

.small-menu{
    margin: 30px;
    /* background-color: aqua; */
    width: 200px;
    height: 200px;
}

.intro-small-menu{
    text-align: center;
}

.a-small-menu{
    text-decoration: none;
    color: black;
}

.img-small-menu{
    display: flex;
    margin: auto;
}

.h-small-menu{
    text-align: center;
}

.sub-footer{
    margin: 25px;
    align-content: center;
    text-align: center;
    width: 25%;
}

.img-footer{
    width: 150px;
    height: 100px;
    margin: 15px;
}

.icon-socialmedia-footer{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.a-social-logo{
    text-decoration: none;
    color: black;
}


/* CSS Index.html END */

/* CSS Menu Penjualan Motor */

.intro-harga{
    text-align: center;
    font-weight: bold;
}

.labelHarga{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: blue;
}

.logoHonda{
    width: 100px;
    height: 70px;
    margin: 15px;
}


/* CSS Menu Penjualan Motor End */