/* CSS Index.html */

*,
html {
    margin: 0;
    padding: 0;
}

.small-menu{
    margin: 30px;
    /* background-color: aqua; */
    width: 200px;
    height: 200px;
}

.intro-small-menu{
    text-align: center;
}

.a-small-menu{
    text-decoration: none;
    color: black;
}

.img-small-menu{
    display: flex;
    margin: auto;
}

.h-small-menu{
    text-align: center;
}

.sub-footer{
    margin: 25px;
    align-content: center;
    text-align: center;
    width: 25%;
}

.img-footer{
    width: 150px;
    height: 100px;
    margin: 15px;
}

.icon-socialmedia-footer{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.a-social-logo{
    text-decoration: none;
    color: black;
}


/* CSS Index.html END */

/* CSS Menu Penjualan Motor */

.intro-harga{
    text-align: center;
    font-weight: bold;
}

.labelHarga{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: blue;
}

.logoHonda{
    width: 100px;
    height: 70px;
    margin: 15px;
}


/* CSS Menu Penjualan Motor End */

/* CSS Detail Penjualan */

.sub-detail-gambar{
    height: 500px;
    width: 50%;
    /* background-color: aqua; */
    justify-content: center;
}

.img-detail{
    height: 500px;
    width: 100%;
    /* display: flex; */
    /* margin: auto; */
}

.sub-detail-keterangan{
    height: 500px;
    width: 50%;
    /* background-color: gold; */
    padding-top: 125px;
    padding-bottom: 100px;
}

.labelHargaDetail{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: blue;
}

/* CSS Detail Penjualan END */

/* CSS Menu Account */

.form-account{
    width: 50%;
    height: 600px;
    /* background-color: gold; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 5px;
    border-radius: 10px ;
    padding: 30px;
    
}

.form-account h2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 30px;
}

.form-icon-user{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.text-box{
    /* justify-content: center; */
    /* width: 100%; */
    /* font-size: 20px; */
    padding: 8px 0;
    margin: 8px 0px;
    display: flex;
    
}

/* .text-box input{
    width: 400px;
    height: 70px;
    padding: 10px;
} */

.form-account a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: red;
    font-size: 20px;
    margin: 15px;
}


/* CSS Menu Account End */

/* CSS Menu Create Account */

.text-box-create{
    /* justify-content: center; */
    /* width: 100%; */
    /* font-size: 20px; */
    padding: 8px 0;
    margin: 8px 30px;
    display: flex;
    
}



/* CSS Menu Create Account END */